body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-header {
    box-sizing: border-box;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #252424;
    align-items: center;
}

.form {
    color: #ffffff;
    display: flex;

}

input {
    border-radius: 15px;
    width: 500px;
    height: 25px;
    padding-left: 15px;
}

.search {
    padding-left: 350px;
}

.search img {
    position: relative;
    top: 5px;
    right: 35px;

}

.dangky a {
    padding-left: 10px;
    text-decoration: none;
    color: #ffffff;
}

.dangky a:hover {
    cursor: pointer;
    color: rgba(10, 224, 57, 0.919);
}

.dangnhap a {
    padding-left: 20px;
    text-decoration: none;
    color: #ffffff;

}

.dangnhap a:hover {
    cursor: pointer;
    color: rgba(10, 224, 57, 0.919);
}

.menu-header {
    box-sizing: border-box;
    display: flex;
    height: 110px;
    align-items: center;
    justify-content: space-around;
}
.logo img{
    
}
.menu ul {
    list-style: none;
    display: flex;

}
.menu ul li{
    width: 160px;
    height: 50px;
    margin-top: 30px;

}
.menu ul li a {
    text-decoration: none;
    color: #000;
    font-size: large;
    padding-left: 40px;
    
}
.menu ul li a:hover{
    color: #bda87f;
}

/* body */
.title-news {
    background-color: #bda87f;
    height: 250px;
}
.background-news{
    background-image: url('banhoc.jpg');
}
.title-news h1 {
    padding-top: 90px;
    text-align: center;
    font-weight: 600;
    color: #f1f1f1;
    font-size: 45px;
}
.back_home ul {
    display: flex;
    list-style: none;
}

.back_home ul li a:hover {
    color: rgba(16, 195, 195, 0.955);
}
.back_home ul li a {
    color: #171616;
    text-decoration: none;
    padding-left: 10px;

}
.img_map img{
    margin-left: 10%;
}
.contact1 input{
    width: 500px;
    border-radius: 0;
}
.contact2 input{
    width: 500px;

    border-radius: 0;


}
.contact2 {
   
    margin: 20px 0;


}
.form-group1 textarea{
    width: 513px;
    

}
.form_contact{
    padding: 20px 0;
}

.btn_contact button:hover{
    background-color: #f1f1f1;
    color: #bda87f;
}
.btn_contact{
    margin: 20px 0;
}
.btn_contact button{
    width: 120px;
    height: 40px;
    font-size: 16px;
    color: #f1f1f1;
    background-color: #bda87f;
    border:0;
}
.contact{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.thongtin_contact{
    margin-left: 20px;
    padding: 10px;
}
.thongtin9_ct{
    margin:30px;
}
/* footer */
.container-footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(57, 53, 53, 0.921);
    height: 350px;

}

.address img,
.email img,
.phone-number img {
    width: 30px;
}

.logo-ft img {
    margin-top: 25px;
    margin-bottom: 25px;
}

.ft-1 {
    width: 300px;
    height: 200px;
    margin-bottom: 20px;

}

.ft-1,
.ft-2,
.ft-3,
.ft-4,
.ft-5 {
    margin-top: 50px;
}

.ft-2,
.ft-3,
.ft-4,
.ft-5 {
    display: block;
    text-align: left;
}

.ft-2 h4 span,
.ft-3 h4 span,
.ft-4 h4 span,
.ft-5 h4 span {
    color: #df9d17ef;
    margin-left: 30px;
    font-size: 18px;
}

.ft-2 ul li,
.ft-3 ul li,
.ft-4 ul li,
.ft-5 ul li {
    list-style: none;
    margin-bottom: 20px;
}

.ft-2 ul li a,
.ft-3 ul li a,
.ft-4 ul li a,
.ft-5 ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.94);
    font-size: smaller;
    font-size: 13px;
}

.ft-2 ul li a:hover,
.ft-3 ul li a:hover,
.ft-4 ul li a:hover,
.ft-5 ul li a:hover {
    color: #bda87f;
    text-decoration: underline;
}

.footer-banquyen {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.882);
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
}
.icon-tabar{
    display: none;
  }