body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container-header {
    box-sizing: border-box;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #252424;
    align-items: center;
    
  }
  
  .form-header {
    color: #ffffff;
    display: flex;
  
  }
  
  .search input {
    border-radius: 15px;
    width: 500px;
    height: 25px;
    padding-left: 15px;
  }
  
  .search {
    padding-left: 350px;
  }
  
  .search img {
    position: relative;
    top: 5px;
    right: 35px;
  
  }
  
  .search img:hover {
    color: #111010;
    background-color: #f1f1f1;
  }
  
  
  .dangky a {
    padding-left: 10px;
    text-decoration: none;
    color: #ffffff;
  }
  
  .dangky a:hover {
    cursor: pointer;
    color: rgba(10, 224, 57, 0.919);
  }
  
  .dangnhap a {
    padding-left: 20px;
    text-decoration: none;
    color: #ffffff;
  
  }
  
  .dangnhap a:hover {
    cursor: pointer;
    color: rgba(10, 224, 57, 0.919);
  }
  
  .menu-header {
    box-sizing: border-box;
    display: flex;
    height: 110px;
    align-items: center;
    justify-content: space-around;
  }
  
  .menu ul {
    list-style: none;
    display: flex;
  
  }
  
  .menu ul li {
    width: 160px;
    height: 50px;
    margin-top: 30px;
  
  }
  
  .menu ul li a {
    text-decoration: none;
    color: #000;
    font-size: large;
    padding-left: 40px;
  
  }
  
  .menu ul li a:hover {
    color: #bda87f;
  }
  
  /* form signup */
  
  .main {
    background: #f1f1f1;
    min-height: 100vh;
    display: flex;
    justify-content: center;
  }
  
  .form {
    width: 360px;
    min-height: 100px;
    padding: 32px 24px;
    text-align: center;
    background: #fff;
    border-radius: 2px;
    margin: 24px;
    align-self: center;
    box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
  }
  
  .form .heading {
    font-size: 2rem;
  }
  
  .form .desc {
    text-align: center;
    color: #636d77;
    font-size: 1.6rem;
    font-weight: lighter;
    line-height: 2.4rem;
    margin-top: 16px;
    font-weight: 300;
  }
  
  .form-group {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
  }
  
  .form-label,
  .form-message {
    text-align: left;
  }
  
  .form-label {
    font-weight: 700;
    padding-bottom: 6px;
    line-height: 1.8rem;
    font-size: 1.4rem;
  }
  
  .form-control {
    height: 35px;
    padding: 1px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
    font-size: 1rem;
  }
  
  .form-control:hover {
    border-color: #1dbfaf;
  }
  
  .form-group.invalid .form-control {
    border-color: #f33a58;
  }
  
  .form-group.invalid .form-message {
    color: #f33a58;
  }
  
  .form-message {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 4px 0 0;
  }
  
  .form-submit {
    outline: none;
    background-color: #1dbfaf;
    margin-top: 12px;
    padding: 12px 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .form-submit:hover {
    background-color: #1ac7b6;
  }
  
  .spacer {
    margin-top: 30px;
  }
  
  /* footer */
  .form-group input{
    margin-left: 0;
  }
  
  .container-footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(57, 53, 53, 0.921);
    height: 350px;
  
  }
  
  .address img,
  .email img,
  .phone-number img {
    width: 30px;
  }
  
  .logo-ft img {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  
  .ft-1 {
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
  
  }
  
  .ft-1,
  .ft-2,
  .ft-3,
  .ft-4,
  .ft-5 {
    margin-top: 50px;
  }
  
  .ft-2,
  .ft-3,
  .ft-4,
  .ft-5 {
    display: block;
    text-align: left;
  }
  
  .ft-2 h4 span,
  .ft-3 h4 span,
  .ft-4 h4 span,
  .ft-5 h4 span {
    color: #df9d17ef;
    margin-left: 30px;
    font-size: 18px;
  }
  
  .ft-2 ul li,
  .ft-3 ul li,
  .ft-4 ul li,
  .ft-5 ul li {
    list-style: none;
    margin-bottom: 20px;
  }
  
  .ft-2 ul li a,
  .ft-3 ul li a,
  .ft-4 ul li a,
  .ft-5 ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.94);
    font-size: smaller;
    font-size: 13px;
  }
  
  .ft-2 ul li a:hover,
  .ft-3 ul li a:hover,
  .ft-4 ul li a:hover,
  .ft-5 ul li a:hover {
    color: #bda87f;
    text-decoration: underline;
  }
  
  .footer-banquyen {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.882);
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
  }
  .fgpw{
    display: flex;
    margin: 20px 0;
justify-content: space-between;
  }
  .fgpw span a:hover{
    color: #1ac7b6;
  }
  .fgpw span a{
    color: #636d77;
    text-decoration: none;
  }
  
  .icon-tabar{
    display: none;
  }
