@media only screen and (max-width: 768px) {
    .container-header {
        height: 40px;
    }

    .search {
        display: flex;
        justify-content: center;
        padding-left: 100px;
    }

    .search input {
        display: none;
    }

    .search img {
        width: 15px;
        height: 15px;
    }

    .off_input {
        display: none;
    }

    .dangnhap a {
        font-size: 10px;
        width: 50px;
        display: block;

    }

    .dangky a {
        font-size: 10px;
        width: 40px;
        display: block;

    }

    .form {
        padding-left: 80px;
    }

    .menu {
        z-index: 2;
        position: relative;
        top: 90px;
        display: none;
        left: 40px;
    }

    .menu ul {
        flex-direction: column;
        height: 150px;
        background-color: rgba(5, 7, 79, 0.93);
        padding-left: 10px;
        margin: 10px 0;

    }

    .menu ul li {
        margin: 5px;
        height: 20px;
        text-align: center;
        padding-left: 20%;

    }

    .menu ul li a {
        font-size: 10px;
        text-align: center;
        color: #ffffff;
        padding-left: 0;
    }
    #menu {
        width: 100%;
        height: 180px;
        padding-right: 8%;
    }
    .icon-tabar {
        position: relative;
        left: 80px;
        font-size: 20px;
        display: block;
    }

    .logo img {
        width: 80px;
        height: 40px;
        right: 100px;
        position: relative;
    }

    .menu-header {

        height: 80px;
    }


    /* news */
    .title-news  {
        height: 140px;
    }
    .title-news h1 {
        font-size: 30px;
        padding-top: 50px;
    }
    .back_home ul{
        padding-left: 10px;
    }
    .back_home ul li a{
        font-size: 14px;
    }
    .news_left{
        display: none;
    }
    .news_right {
        width: 400px;
        height: 600px;
        justify-content: center;
    }
    .right_img1 img{
        width: 400px;
        height: 350px;
    }
    .right_news1{
        font-size: 14px;
    }
    .tacgia_ngay{
        font-size: 10px;
    }
    .news_right9{
        font-size: 10px;
    }
    .btn_1 button{
        font-size: 14px;
        width: 80px;
        height: 30px;
    }
    .icon-tabar2 {
        display: block;
        font-size: 20px;
        position: relative;
        top: 20px;
        right: 20px;
    }
    .bds{
        display: flex;
        justify-content: center;
        font-size: 22px;
    }

    /* footer     */
    .container-footer {

        height: 220px;

    }

    .logo-ft {
        width: 100px;
    }

    .logo-ft img {
        width: 70px;
        height: 40px;
    }

    .ft-1,
    .ft-2,
    .ft-3,
    .ft-4,
    .ft-5 {
        margin-top: 20px;
    }

    .address img,
    .email img,
    .phone-number img {
        width: 10px;
    }

    .address address {
        font-size: 10px;
        width: 100px;
        margin-bottom: 10px;
    }

    .phone-number {
        font-size: 10px;
        width: 100px;
        margin-bottom: 10px;

    }

    .email {
        font-size: 10px;
        width: 120px;
        margin-bottom: 10px;
    }

    .ft-1 {
        width: 100px;
        height: 200px;


    }

    .ft-2 h4 span,
    .ft-3 h4 span,
    .ft-4 h4 span,
    .ft-5 h4 span {
        margin-left: 10px;
        font-size: 12px;

    }

    .ft-2 ul li a,
    .ft-3 ul li a,
    .ft-4 ul li a,
    .ft-5 ul li a {
        font-size: 8px;

    }

    .ft-2 ul li,
    .ft-3 ul li,
    .ft-4 ul li,
    .ft-5 ul li {
        margin-bottom: 5px;
    }

    .ft-2 ul,
    .ft-3 ul,
    .ft-4 ul,
    .ft-5 ul {
        padding-left: 20px;
    }

    .footer-banquyen {
        height: 30px;
        padding-top: 5px;
    }

    .footer-banquyen p {
        font-size: 8px;
    }

}